<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/base.css'>
  <link rel="stylesheet" href="/stylesheets/weblog.css">
</head>
<body>
  <header class="backend">
    <div class="name">
      <%= title %>
    </div>
    <div class="logout">
      <a href="">logout</a>
      <p>上次访问时间：</p>
    </div>
  </header>
  <aside class="aside">
    <nav>
      <a href="/catlist">catlist</a>
      <a href="/catadd">catadd</a>
      <a href="/artlist">artlist</a>
      <a href="/artadd">artadd</a>
    </nav>
  </aside>
  <div class="edit">
    <form action="" method="post">
      <p>标题: <input type="text" name="art_title"></p>
      <p>
        分类:
        <select name="cat_name" id="">
          <% for(let i = 0;i < cats.length;i++) { %>
          <option value="<%= cats[i]['cat_name'] %>"><%= cats[i]['cat_name'] %></option>
          <% } %>
        </select>
      </p>
      <textarea name="content" placeholder="内容"></textarea>
      <p><input type="submit" value="submit" class="submit"></p>
    </form>
  </div>
</body>
<script src='/javascripts/fixsimple.js'></script>
</html>
